
.LogoSelector ul {
    display: flex;
    justify-content: space-between;
}

.LogoSelector li {
    border-radius: 5px;
    background: lightblue;
}

.LogoSelector img {
    width: 50px;
    height: 50px;
}