
.ContextMenu {
    position: absolute;
    background: aliceblue;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px silver;
}

.ContextMenu ul {
    margin: 0;
}

.ContextMenu li a {
    padding: 0 10px;
}

.ContextMenu li a:hover {
    background: cornflowerblue;
}