
.EditorView {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
}

.EditorView .EditorView__right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}