body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

a, button {
  cursor: pointer;
}

button {
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 2px silver;
  background: aliceblue;
  padding: 5px 10px;
  outline: none;
}

button:active {
  margin: 1px 0 0 1px;
  box-shadow: 1px 1px 1px silver;
}

button:hover {
  background: cornflowerblue;
}

input[type=text] {
  border-radius: 3px;
  background: aliceblue;
  border: none;
  padding: 5px;
  outline: none;
  box-shadow: 1px 1px 1px silver;
}
